<h2>Lista de Produtos</h2>
<ul id="product-list">
  {{#each products}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<form id="add-product-form">
  <input type="text" id="product-name" placeholder="Nome do Produto">
  <button type="submit">Adicionar Produto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>

  var socket = io();

  socket.on('updateProducts', function(products) {
    var productList = document.getElementById('product-list');
    productList.innerHTML = '';

    products.forEach(function(product) {
      var li = document.createElement('li');
      li.textContent = product;
      productList.appendChild(li);
    });
  });

  var addProductForm = document.getElementById('add-product-form');
  addProductForm.addEventListener('submit', function(e) {
    e.preventDefault();
    var productName = document.getElementById('product-name').value;
    socket.emit('addProduct', productName);
    addProductForm.reset();
  });
</script>
