<!DOCTYPE html>
<html>
<head>
  <title>Meu Aplicativo</title>
</head>
<body>
  <header>
    <h1>Meu Aplicativo</h1>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>Meu Aplicativo.</p>
  </footer>
</body>
</html>
